Repository jenkins-infra/docker-confluence-data, pull requests merged in 2025-04, with the labels that each got.

#67 chore: change updatecli author values
  updatecli/values.yaml
Labels: chore, updatecli

#75 chore(github workflows) use Ubuntu 22.04 for Release Drafter
  .github/workflows/release-drafter.yml
Labels: chore

#77 chore(updatecli) correct nginx manifest
  updatecli/updatecli.d/nginx.yaml
Labels: chore, nginx, updatecli
